<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<script src="vue.global.js"></script>
	<title>vue js</title>
</head>
<body>
	<header>
		<h3>Vue js Bangla Tuitorial</h3>
	</header>
    
    <div id="app">
    	<!-- We Learn here computed properties ... -->
    	<h3>Skills</h3>
    	<ul>
    		<li v-for="(skill, index) in skills" @click="removeMe(index)" :key="skill.name">
    			<p>{{skill.name}} ( {{skill.exp}} )</p>
    			
    		</li>
    	</ul>

    	<h3>Total Number: {{totalCount1}}</h3>
    	<h3>Pro Ninja Engineers: </h3>
    	<ul>
    		<li v-for="(skill, index) in proNinja" @click="removeMe(index)" :key="skill.name">
    			<p>{{skill.name}} ( {{skill.exp}} )</p>
    			
    		</li>
    	</ul>
    </div>

<script src="app.js"></script>
</body>
</html>